@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;

}
html{
    scrollbar-width: normal;
    scrollbar-color: #914343 #fff;
}
body {
    min-height: 100vh;
    background: #F3C7C7;
}

.container {
    width: 100%;
    height: 100vh;
}

.welcome {
    position: absolute;
    width: 268px;
    height: 49px;
    left: 189px;
    top: 100px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: #914343;
}

.intro {
    position: absolute;
    width: 602px;
    height: 168px;
    left: 189px;
    top: 100px;
    font-weight: 700;
    font-size: 44px;
    line-height: 50px;
    display: flex;
    align-items: center;

    color: #010C1A;
}

.intro-summary {
    position: absolute;
    width: 389px;
    height: 72px;
    top: 120px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #914343;
}

.profiles {
    position: absolute;
    width: 35px;
    height: 31px;
    display: flex;
    top: 230px;
}
.profiles a {
    padding-right: 1rem;
    color: #000000;
    cursor: pointer;
}
.profiles a:hover{
    color: #914343;
}

.intro-2 {
    position: absolute;
    width: 389px;
    height: 72px;
    left: 189px;
    top: 409px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: #914343;
}

.my-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    top: 5rem;
    left: 55rem;
    filter: grayscale(100%);

}

.my-img:hover {
    filter: grayscale(0%);
}

.td-figure {
    position: absolute;
    top: 5rem;
    left: 55rem;
}
.td-figure img {
  transform: rotateX(10deg) rotateY(-18deg) rotateZ(3deg);
  border-radius: 50%;

  box-shadow: 2px 10px 30px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}
.td-figure:hover img {
  transform: rotate(0);
}

.my-logo {
    position: absolute;
    width: 9rm;
    height: 3.5rem;
    left: 30px;
    top: 20px;
    cursor: pointer;
}

.pulser {
    width: 50px;
    height: 50px;
    top: 4rem;
    left: 7rem;
    border-radius: 50%;
    position: relative;
  }

.pulser::after {
  animation: pulse 3000ms cubic-bezier(0.3, 0.1, 0.1, 0.9) infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(1.4);
    opacity: 0.4;
  }
}

.pulser::after {
  content: 'java';
  text-align: center;
  position: absolute;
  top: 2rem;
  left: 17rem;
  width: 100%;
  height: 100%;
  color: rgb(41, 83, 13);
  border-radius: 50%;
  z-index: -1;
}

.my-logo:hover {
    opacity: 0.5;
}

.qoute {
    position: absolute;
    top: 460px;
    left: 200px;
    opacity: 0.4;
    font-style: italic
}

.hire-btn {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    position: absolute;
    width: 132px;
    height: 45px;
    left: 600px;
    top: 550px;
    color: #7c4848;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 00.5s;
    --tilt: 40px;
    box-sizing: border-box;
    border-radius: 999px;
    overflow: hidden;
    background: none;
    text-transform: uppercase;
    border: 1px solid currentColor;
}

.hire-btn:before, .hire-btn:after {
    content: "";
    z-index: -1;
    width: calc(100% + var(--tilt));
    height: 100%;
    position: absolute;
    top: 0;
    background: white;
    clip-path: polygon(0 0, calc(100% - var(--tilt)) 0, 100% 100%, 0 100%);
    transition: transform 0.6s;
  }
  .hire-btn:before {
    left: calc(-100% - var(--tilt));
  }
  .hire-btn:after {
    left: 100%;
    transform: rotate(180deg);
  }
  .hire-btn:hover:before {
    transform: translateX(100%);
  }
  .hire-btn:hover:after {
    transform: rotate(180deg) translateX(100%);
  }

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #f3d9d9;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 30%; /* Could be more or less, depending on screen size */
}

.modal-inputs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    gap: 1rem;
}

.modal-inputs input {
    background-color: #fdeded;
    padding: 10px;
    gap: 20px;
    border: none;
}

.modal-inputs textarea {
    background-color: #fdeded;
    border: none;
    height: 6rem;
    padding: 2px;
}

.modal-inputs select {
    background-color: #fdeded;
    border: none;
}

/* The Close Button */
.close {
  float: right;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#about {
    display: grid;
    place-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
}


#about p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;;
    line-height: 2.5rem;
}

#skill {
    padding-top: 2rem;
    display: flex;
    height: 100vh;
}

#skill p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;;
    line-height: 2.5rem;
    margin-left: 4rem;
}

.tools {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    position: relative;
    top: -3rem;
    display: flex;
}

#skill ul,
li {
    font-size: 0.7rem;
    padding: 0;
    margin: 0;
    list-style: none;
}

#skill ul {
    margin: 2em 0;
}

#skill li {
    margin: 1em;
    margin-left: 3em;
}

#skill li:before {
    content: '\f006';
    font-family: 'FontAwesome';
    float: left;
    margin-left: -1.5em;
    color: #7c4848;
}

.hidden {
    display: flex;
    flex-direction: column;
    width: 600px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    align-items: center;
    color: #010C1A;
    opacity: 0;
    transition: all 2s;
    filter: blur(0.3px);
    transform: translate(10%);
}
.show {
    opacity: 1;
    filter: blur(0px);
    transform: translate(0);
}

.hidden h3 {
    font-family: 'Poppins', sans-serif;
    color: #7c4848;
}

.hidden a {
    font-size: 12px;
    color: aliceblue;
    cursor: pointer;
    text-decoration: underline;
}

.hidden a:hover {
    color: #7c4848;
    transition-duration: 1.5s;
}

.card-1{
    display: grid;
    place-items: center;
    padding-top: 2rem;
    width: 50%;
}


.icon-cards {
    position: relative;
    width: 60vw;
    height: 40vw;
    max-width: 380px;
    max-height: 250px;
    margin: 0;
    color: white;
    perspective: 1000px;
    transform-origin: center;
  }
  .icon-cards__content {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: translateZ(-30vw) rotateY(0);
    -webkit-animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
            animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
  }
  .icon-cards__content.step-animation {
    -webkit-animation: carousel 8s infinite steps(1) forwards;
            animation: carousel 8s infinite steps(1) forwards;
  }
  .icon-cards__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60vw;
    height: 40vw;
    max-width: 400px;
    max-height: 250px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    transform-origin: center;
  }

  .icon-cards__item .h1 {
    opacity: 1;
    cursor: pointer;
  }

  .icon-cards__item:nth-child(1),
    .icon-cards__item:nth-child(2),
  .icon-cards__item:nth-child(3),
  .icon-cards__item:nth-child(4),
  .icon-cards__item:nth-child(5) {
    display: grid;
    place-items: center;
  }
  .icon-cards__item:nth-child(1) {
    background: #4ff1fd;
    transform: rotateY(0) translateZ(35vw);
    
  }
  .icon-cards__item:nth-child(2) {
    background: #f87949;
    transform: rotateY(50deg) translateZ(35vw);
  }
  .icon-cards__item:nth-child(3) {
    background: #fbab48;
    transform: rotateY(100deg) translateZ(35vw);
  }
  .icon-cards__item:nth-child(4) {
    background: #eb2e16;
    transform: rotateY(150deg) translateZ(35vw);
  }
  .icon-cards__item:nth-child(5) {
    background: #c8f54d;
    transform: rotateY(200deg) translateZ(35vw);
  }
  .icon-cards__item:nth-child(6) {
    background: #4b86df;
    transform: rotateY(250deg) translateZ(35vw);
  }
  .icon-cards__item:nth-child(7) {
    background: #5fdb6f;
    transform: rotateY(300deg) translateZ(35vw);
  }
  
  @-webkit-keyframes carousel {
    0%, 17.5% {
        transform: translateZ(-35vw) rotateY(0);
      }
      27.5%, 35% {
        transform: translateZ(-35vw) rotateY(-50deg);
      }
      55%, 50.5% {
        transform: translateZ(-35vw) rotateY(-100deg);
      }
      62.5%, 65% {
        transform: translateZ(-35vw) rotateY(-150deg);
      }
      72.5%, 75% {
          transform: translateZ(-35vw) rotateY(-200deg);
      }
      82.5%, 85% {
        transform: translateZ(-35vw) rotateY(-250deg);
    }
    92.5%, 100% {
        transform: translateZ(-35vw) rotateY(-300deg);
    }
  }
  
  @keyframes carousel {
    0%, 17.5% {
        transform: translateZ(-35vw) rotateY(0);
      }
      27.5%, 35% {
        transform: translateZ(-35vw) rotateY(-50deg);
      }
      55%, 50.5% {
        transform: translateZ(-35vw) rotateY(-100deg);
      }
      62.5%, 65% {
        transform: translateZ(-35vw) rotateY(-150deg);
      }
      72.5%, 75% {
          transform: translateZ(-35vw) rotateY(-200deg);
      }
      82.5%, 85% {
        transform: translateZ(-35vw) rotateY(-350deg);
    }
    92.5%, 100% {
        transform: translateZ(-35vw) rotateY(-300deg);
    }
  }
  
  @-webkit-keyframes jelly {
    from {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1.25, 0.75);
    }
    40% {
      transform: scale(0.75, 1.25);
    }
    50% {
      transform: scale(1.15, 0.85);
    }
    65% {
      transform: scale(0.95, 1.05);
    }
    75% {
      transform: scale(1.05, 0.95);
    }
    to {
      transform: scale(1, 1);
    }
  }
  
  @keyframes jelly {
    from {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1.25, 0.75);
    }
    40% {
      transform: scale(0.75, 1.25);
    }
    50% {
      transform: scale(1.15, 0.85);
    }
    65% {
      transform: scale(0.95, 1.05);
    }
    75% {
      transform: scale(1.05, 0.95);
    }
    to {
      transform: scale(1, 1);
    }
  }

  .icon-cards__item:hover {
    background: rgba(204, 204, 204, 0.5);
  }

  .cards {
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
  }
  
  .card {
    margin: 15px;
    width: calc((100% / 3) - 30px);
    transition: all 0.2s ease-in-out;
  }
  @media screen and (max-width: 991px) {
    .card {
      width: calc((100% / 2) - 30px);
    }
  }
  @media screen and (max-width: 767px) {
    .card {
      width: 100%;
    }
  }
  .card:hover .card__inner {
    background-color: #1abc9c;
    transform: scale(1.05);
  }
  .card__inner {
    width: 100%;
    padding: 30px;
    position: relative;
    cursor: pointer;
    background-color: #b66e65;
    color: #eceef1;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.2s ease-in-out;
  }
  .card__inner:after {
    transition: all 0.3s ease-in-out;
  }
  .card__inner .fa {
    width: 100%;
    margin-top: 0.25em;
  }
  .card__expander {
    transition: all 0.2s ease-in-out;
    background-color: #333a45;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #eceef1;
    font-size: 1.5em;
  }
  .card__expander .fa {
    font-size: 0.75em;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .card__expander .fa:hover {
    opacity: 0.9;
  }
  .card.is-collapsed .card__inner:after {
    content: "";
    opacity: 0;
  }
  .card.is-collapsed .card__expander {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    margin-top: 0;
    opacity: 0;
  }
  .card.is-expanded .card__inner {
    background-color: #1abc9c;
  }
  .card.is-expanded .card__inner:after {
    content: "";
    opacity: 1;
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #333a45;
  }
  .card.is-expanded .card__inner .fa:before {
    content: "ï„•";
  }
  .card.is-expanded .card__expander {
    max-height: 1000px;
    min-height: 200px;
    overflow: visible;
    margin-top: 30px;
    opacity: 1;
  }
  .card.is-expanded:hover .card__inner {
    transform: scale(1);
  }
  .card.is-inactive .card__inner {
    pointer-events: none;
    opacity: 0.5;
  }
  .card.is-inactive:hover .card__inner {
    background-color: #949fb0;
    transform: scale(1);
  }
  
  @media screen and (min-width: 992px) {
    .card:nth-of-type(3n+2) .card__expander {
      margin-left: calc(-100% - 30px);
    }
  
    .card:nth-of-type(3n+3) .card__expander {
      margin-left: calc(-200% - 60px);
    }
  
    .card:nth-of-type(3n+4) {
      clear: left;
    }
  
    .card__expander {
      width: calc(300% + 60px);
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .card:nth-of-type(2n+2) .card__expander {
      margin-left: calc(-100% - 30px);
    }
  
    .card:nth-of-type(2n+3) {
      clear: left;
    }
  
    .card__expander {
      width: calc(200% + 30px);
    }
  }

  .wrapper {
    display: grid;
    place-items: center;
    margin: 5em auto;
    max-width: 1000px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
  }

  .wrapper h1 {
    font-family: 'Poppins', sans-serif;
    color: #7c4848;
    font-size: 2rem;
  }

  .wrapper h4 {
    color: #7c4848;
  }


