@media only screen and (max-width: 700px) {
    .container {
        margin: 0px 0px 0px;
        height: 200vh;
    }
    .intro {
        width: 602px;
        font-size: 6rem;
        line-height: 6rem;
        font-weight: 800;
        left: 100px;
        top: 200px;
    }
    .welcome {
        display: none;
    }
    .pulser7 {
        display: none;
    }
    .intro-summary{
        width: 100%;
        margin-top: 14rem;
        font-size: 2rem;
        line-height: 2rem;
    }
    .my-logo {
        position: absolute;
        width: 18rem;
        height: 6rem;
        left: 15rem;
        top: 25rem;
        cursor: pointer;
    }
    .container2 {
        position: absolute;
        top: 500px;
    }
    .container .my-img {
        display: none;
    }

    .profiles {
        display: flex;
        top: 500px;
        font-size: x-large;
    }

    .pulser3::after {
        left: 0.5rem;
        top: 7.5rem;
    }

    .pulser4::after {
        content: 'golang';
        text-align: center;
        position: absolute;
        top: 12rem;
        left: 22rem;
        color: rgb(10, 106, 119);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        z-index: -1;
        }

    .profiles .fa {
        padding-bottom: 20px;
    }

    .qoute {
        display: none;
    }

    .hire-btn {
        display: none;
    }
     
    .hidden {
        filter: none;
    }

    #about{
        width: 780px;
    }

    #about .my-img {
        position: relative;
        width: 100px;
        height: 100px;
        left: 10px;
        top: 0.5rem;
    }
    #about a{
        font-size: 22px;
    }

    #skill{
        width: 780px;
    }

    .wrapper {
        width: 780px;

    }
}

@media only screen and (min-width: 700px) {
    #about .my-img {
        display: none;
    }
}
